<h2><%= @post.title %></h2>
<p><%= @post.content %></p>

<ul>
  <% @post.comments.each do |comment| %>
    <li><%= "#{comment.user.username} says: #{comment.content}" %></li>
  <% end %>
</ul><br>
<ul>
  <% @users.uniq.each do |user| %>
    <li><%= link_to user.username, user_path(user) %></li>
  <% end %>
</ul>
<ul>
  <% @post.categories.each do |cat| %>
    <li><%= cat.name %></li>
  <% end %>
</ul>

<%= form_for @comment do |f| %>
  <%= f.hidden_field :post_id, { :value => @post.id } %>
  <%= f.label :content %><br>
  <%= f.text_area :content %><br>
  <%= f.label :choose_user %><br>
  <%= f.collection_select :user_id, @users.uniq, :id, :username %><br><br>
   or, create a new user:
  <%= f.fields_for :user_attributes do |users_fields| %><br>
    <%= users_fields.label :username %><br>
    <%= users_fields.text_field :username %><br>
    <%= users_fields.label :email %><br>
    <%= users_fields.text_field :email %><br>
  <% end %>
  <%= f.submit %>
<% end %>

<% #can't get dropdown to work, best attempt in readme. Above form kinda works, but won't pass post.id to the comment controller. confused about collection_select, and f.fields_for line, specifically what happens before the |do| %>
